.img {
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#background1 {
background-color: #302A17
}

#background2 {
background-color: #ffffff
}

#formatButton {
  margin-left: 
}

#formatButton1{
   
}

.img1 {
position: absolute;
left: 20%;
right: 0px;
top: 220px; 

}

.cloud {
position: absolute;
left: 44%;
right: 0px;
top: 30px; 

}

.heart{
position: absolute;
left: 73%;
right: 0px;
top: 200px; 	
}

.heart1{
position: absolute;
left: 76%;
right: 0px;
top: 200px; 	
}

