.img {
	padding-top: 100px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
}

#background1 {
	background-color: #000000
}

#background2 {
	background-image: #ffffff ;
}



.img1 {
	position: absolute;
	left: 20%;
	right: 0px;
	top: 195px; 

}

.cloud {
	position: absolute;
	left: 57%;
	right: 0px;
	top: 30px; 

}

.like{
	position: absolute;
	left: 83%;
	right: 0px;
	top: 400px; 	
}

.dislike{
	position: absolute;
	left: 78%;
	right: 0px;
	top: 400px; 	
}

#image{
background-color: #000000;
padding-bottom: 92px;

}