.img {
	padding-top: 100px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
}

#background1 {
	background-color: #000000
}

#background2 {
	background-image: #ffffff ;
}



.img1 {
	position: absolute;
	left: 20%;
	right: 0px;
	top: 195px; 

}

.cloud {
	position: absolute;
	left: 57%;
	right: 0px;
	top: 30px; 

}

#like{
	position: fixed;
	left: 78%;
	right: 0px;
	top: 450px; 	
}

#dislike{
	position: fixed;
	left: 73%;
	right: 0px;
	top: 450px; 	
}
#ss{
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left:480px;	
}
#image{
	background-color: #000000;
	padding-bottom: 92px;

}


#text{
	font-size: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: fixed;
	left: 46%;
	right: 0px;
	top: 130px;
}
.center {
    margin: auto;
    width: 45%;
    border: 0px solid green;
    padding: 15px;
}

#hacking{
position: absolute;
    left: 32%;
    right: 0px;
    top: 440px;     
}

#sad{
position: absolute;
font-family: "Comic Sans MS", cursive, sans-serif;
    left: 25%;
    right: 0px;
    top: 480px;     
}



.happy:hover {background-color: #E0DBD4}
.happy:active {
  background-color: #E0DBD4;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

